{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<header class="main-header" {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <div class="main-header-content inner">
        <h1 class="page-title"><a href="/">{{@blog.title}}</a></h1>
        <h2 class="page-description">{{@blog.description}}</h2>
    </div>
</header>

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        {{#if @labs.subscribers}}
            <div class="bottom-subscribe">
                <h5>Subscribe to {{@blog.title}}</h5>
                <p>Get the latest posts delivered right to you.</p>

                {{subscribe_form
                    form_class="newsletter-form"
                    input_class="form-control"
                    button_class="btn btn-primary"
                    placeholder="Enter your email address"
                    autofocus=""
                }}
            </div>
        {{/if}}

        <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
        </div>

        <section class="post-more">
            {{#prev_post}}
            <p>Prev Post: <a class="" href="{{url}}">{{title}}</a></p>
            {{/prev_post}}
            {{#next_post}}
            <p>Next Post: <a class="" href="{{url}}">{{title}}</a></p>
            {{/next_post}}
        </section>
        <section id="disqus_thread">
        </section>
    </article>
    <div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */

    var disqus_config = function () {
        this.page.url = "http://pokemongoprotips.com";
        this.page.identifier = {{id}};
    };

    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

		s.src = '//pokemongoprotips.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</main>
<script type="text/javascript" src="{{asset "js/highlight.js"}}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{/post}}
